/* reset.css
   Generic reset and a template
*/

@font-face {
    font-family: 'Spectral';
    src: url('../public/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../public/fonts/Spectral/Spectral-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../public/fonts/Spectral/Spectral-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url('../public/fonts/Spectral_SC/SpectralSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body, #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    background-color: #7e0511;
    color: #e1cd90;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.user-input, .cv-preview {
    flex: 1;
    padding: 1rem;
}

.user-input {
    max-width: 50%;
    height: 100%;
    overflow-y: auto;
    width: 50vw;
}

.user-input header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    background-color: #f4f2e9;
    padding: 0.5rem;
}

legend {
    color: #7e0511;
}

form input {
    width: 20rem;
}

.del-btn {
    display: flex;
    justify-content: right;
}
.add-btn {
    display: flex;
    justify-content: center;
}

form button {
    background-color: #7e0511;
    color: #e1cd90;
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

form .plus {
    background-color: #5c6330;
    color: white;
    float: cent;
}

form button:hover {
    filter: brightness(0.9);
}

.cv-preview {
    max-width: 50%;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    outline: 1px solid black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    white-space: initial;
    font-family: 'Spectral';
}

.resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.resume-header h1 {
    font-family: 'Spectral SC';
}

.resume-contact-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.fr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-header,
.resume-education-section,
.resume-experience-section {
    width: 100%;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    
    .cv-preview {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .resume-header, .resume-education-section, .resume-experience-section {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black; /* Change it as needed */
    background-color: #282a2b;
    color: white;
}

footer a {
    color: white
}