/* reset.css
   Generic reset and a template
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body, #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black; /* Change it as needed */
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.user-input, .cv-preview {
    flex: 1;
    padding: 1rem;
    outline: 1px solid black;
}

.user-input {
    max-width: 50%;
}

.cv-preview {
    max-width: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black; /* Change it as needed */
}