/* reset.css
   Generic reset and a template
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body, #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black; /* Change it as needed */
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.user-input, .cv-preview {
    flex: 1;
    padding: 1rem;
    outline: 1px solid black;
}

.user-input {
    max-width: 50%;
    height: 100%;
    overflow-y: auto;
    width: 50vw;
}

.cv-preview {
    max-width: 50%;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    outline: 1px solid black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    white-space: initial;

}

.resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.resume-contact-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.fr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-header,
.resume-education-section,
.resume-experience-section {
    width: 100%;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    
    .cv-preview {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .resume-header, .resume-education-section, .resume-experience-section {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black; /* Change it as needed */
}